<h1>Lista de Tópicos</h1>
<ul>
     <% @topics.each do |topic| %>
          <li><%= link_to topic.title, topic_path(topic)%></li>
     <% end %>
</ul>
<p>Find me in app/views/topics/index.html.erb</p>
